{% extends 'base.html' %}

{% block content %}
    <p class="lead">GDP by country</p>
    <div class="row">
        <div id="linechart" class="col-10">
            {% include 'partials/gdp-bar.html' %}
        </div>
        <div class="col-2">
            <select
                id="select-country"
                class="custom-select"
                name="country"
                autocomplete="off"
                hx-get={% url 'gdp_line' %}
                hx-target="#linechart"
            >
                {% for country in countries %}
                    <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
