{% for user_film in user_films %}

<!-- Infinite scroll. If it's the last film, then we need to add a new set of films after it -->
{% if forloop.last %}
  {% if page_obj.has_next %}
  <div
    hx-get="{% url 'film-list' %}?page={{ page_obj.number|add:1 }}"
    hx-trigger="revealed"
    hx-swap="afterend"
    hx-target="this"
  >
  {% endif %}
{% else %}
  <div>
{% endif %}
  <input type="hidden" name="ordered_user_film_ids" value="{{ user_film.pk }}"/>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a
        hx-get="{% url 'film-detail' user_film.pk %}"
        hx-target="#film-list"
        hx-push-url="/film/{{ user_film.film.name }}"
      >
        #{{ user_film.order }} {{ user_film.film.name }}
      </a>
      <span class="badge badge-danger badge-pill" 
        style="cursor: pointer"
        hx-delete="{% url "delete-film" user_film.pk %}"
        hx-target="#film-list"
        hx-confirm="Are you sure you want to delete this film?"
      >X</span>
    </li>
  </div>
{% endfor %}