<!-- Header, Film Search and add film button -->
<div class="d-flex justify-content-between align-items-center">
    <p class="lead ml-0">My Films</p>
    <form class="d-flex align-items-center">
        {% csrf_token %}
        <label style="margin-bottom: inherit">
            <input type="text" name="filmname" class="form-control-sm mr-2" placeholder="Enter a film" />
        </label>
        <button hx-post="{% url 'add-film' %}" hx-target="#film-list" type="submit" class="btn btn-success btn-sm">
            Add Film
        </button>
    </form>
</div>

<hr/>

<!-- Section to hold content below the second header -->
<section class="d-flex justify-content-between">

    <!-- Section for displaying all the UserFilms and related pop-ups -->
    <section class="col-6">
    
        <!-- Message pop-ups related to recent actions -->
        {% if messages %}
        <ul class="messages" hx-get="{% url 'clear' %}" hx-trigger="load delay:3s">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    
        <!-- List of UserFilms -->
        {% if user_films %}
            {% csrf_token %}
            <form class="sortable list-group col-xs-12" hx-trigger="end" hx-post="{% url 'reorder' %}" hx-target="#film-list">
                <div class="htmx-indicator">Updating...</div>
                    {% include 'partials/film-list-elements.html' %}
            </form>
        {% else %}
            <p>No films found</p>
        {% endif %}
    </section>

    <!-- Section for displaying search results for Films in the database -->
    <section class="col-6">
        {% include 'partials/search.html'%}
    </section>
</section>