{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- jQuery and Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js" integrity="sha512-TelkP3PCMJv+viMWynjKcvLsQzx6dJHvIGhfqzFtZKgAjKM1YPqcwzzDEoTc/BHjf43PcPzTQOjuTr4YdE8lNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% django_htmx_script %}
    
    <!-- Bokeh visualisations -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.4.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.4.min.js"></script></head>
<body>
    {% include 'partials/navbar.html' %}

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        // Add CSRF token to all htmx requests
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
        })
        
        // Enable sorting on the `htmx:afterSwap` event using Sortable.js
        htmx.onLoad(function(content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
              var sortable = sortables[i];
              var sortableInstance = new Sortable(sortable, {
                  animation: 150,
                  ghostClass: 'blue-background-class',
              });
        
              // Re-enable sorting on the `htmx:afterSwap` event
              sortable.addEventListener("htmx:afterSwap", function() {
                sortableInstance.option("disabled", false);
              });
            }
        })
        
        // Event listeners
        document.body.addEventListener('htmx:beforeRequest', function(event) {
            const body = document.getElementsByTagName('main')[0]
            body.style.opacity = 0.25
        });
        
        document.body.addEventListener('htmx:afterRequest', function(event) {
            const body = document.getElementsByTagName('main')[0]
            body.style.opacity = 1.0
        });
    </script>

</body>
</html>